@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
.carousel-inner {
  height: 400px; }

.carousel-inner img {
  height: 100%; }

#fixed {
  height: 400px;
  border-top: 4px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  background: url("../img/dom1%20.jpg") no-repeat center center fixed;
  background-blend-mode: multiply;
  background-color: lightblue;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover; }
